# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/tps-2015/web-deports/imagenes
/tps-2016/php/biodiversidad/ima
/tps-2016/php/biodiversidad/img
/tps-2016/php/dbnota/img
/tps-2016/php/libreria/interfaz
/tps-2016/php/libros/img
/tps-2016/php/notas/admin/iconos
/tps-2016/php/notas/admin/interfaz
/tps-2016/php/project-store/images
/tps-2016/php/project-store/img
/tps-2016/php/proyecto_iquira/admin/iconos
/tps-2016/php/proyecto_iquira/admin/fotos
/tps-2016/php/proyecto_iquira/admin/info
/tps-2016/php/proyecto_iquira/admin/imgns
/tps-2016/php/proyecto_iquira/admin/interfaz