a{
	color:#000;
	font-family:Lucida Calligraphy;
	text-decoration:none;
}
a:hover{
	color:red;
	font-family:Lucida Calligraphy;
	text-decoration:none;
}
#uno{
	margin:0 2px 0 2px;
	text-decoration:none;
}
#dos{
	margin:0 1px 0 1px;
	text-decoration:none;
}
#tres{
	margin:0 1px 0 0;
	text-decoration:none;
}
#cuatro{
	margin:0 0 0 0;
	text-decoration:none;
}