@charset "utf-8";
/* CSS Document */
html{
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size:cover;
}
body{
	font-family:"Old English Text MT",cursive; /*TIPO DE LETRA*/
	font-size:14px; /*TAMAÑO DE LA LETRA*/
	color:#FDFDFD; /*COLOR DE TEXTO*/
	text-align:justify; /*ALINIACIÓN PUEDE SERDERECHA/CENTRADO/JUST*/
}
section{
	width:70%; /* Ancho de la página */
	float:left;
}
.img2{
	float:left;
	margin-left:20px;
	border-bottom-style:groove;
	
}
.titulo{
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-size:36px;
	color:#C491D5;
	text-shadow: 0 1px 0 #333,
				 0 2px 0 #555083, 
				 0 3px 0 #82504A,
				 0 4px 0 #0F0F0F,
				 0 5px 0 #FFD5D6,
				 0 6px 1px rgba (0,0,0,.1),
				 0 0 5px rgba (0,0,0,.1),
				 0 1px 3px rgba (0,0,0,.3),
				 0 3px 5px rgba (0,0,0,.2),
				 0 5px 10px rgba (0,0,0,.25),
				 0 10px 10px rgba (0,0,0,.2),
				 0 20px 20px rgba (0,0,0,.15);
}
#tex1{
	color:#B59DB0;
	text-align::center;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-size:36px;
	background-image:url(../images/jugosn.jpg); /*Fondo debe ser más claro que el borde */
	background-size:1000px 1100px;
	border:5px outset #999; /*Grosor del borde */ /*Color del borde*/
	color:hsla(0,0%,0%,1.00); /* Color del texto*/
	text-align:center; /* Alineación del texto*/
	 width:1000px; 
	 height:2000px;
	text-shadow: -1px -1px rgba (0,0,0,.2);
}
#img1{
	float:right; /*FLOTAR LA IMAGEMN HACIA LA DERECHA*/
	/*padding:50px;*/ /*MARGEN A TODOS LOS LADOS DE LA IMAGEN*/
	margin-left:15px; /*MARGEN IZQ*/
	margin-bottom:10px; /*MARGEN INFERIOR*/
}

