@charset "utf-8";
/* CSS Document */
html{
	margin:0px;
	padding:0px;
}
body{
	background:url(../images/fondo1.jpg)no-repeat fixed center; 
	 -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

